@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: winter, dracula
 }

@layer components {
    .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
  
  .basic{
    @apply h-screen grid place-items-center;
  }

  .form-control{
    @apply flex flex-col gap-1;
  }

}